body
{
    background:
            linear-gradient(
            hsla(0, 0%, 97%, 0.7), hsla(0, 0%, 69%, 0.9)) no-repeat fixed;
    font-family: "JetBrains Mono", monospace;
    overflow-x: hidden;

    width: auto;
}
#header
{
    position: relative;
    background:
            linear-gradient(to right,
            hsla(0, 0%, 100%, 0.7), hsla(278, 4%, 58%, 0.9));

    box-shadow: 3px 3px #292929;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    padding: 20px;
    min-height: 120px;
}
.subtitle
{
    color: #333333;
    margin: 0 0 4px 0;
    text-align: center;
    font-size: 14px;
}
.header-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button
{
    background: ghostwhite;
    border: none;
    font-size: 1.1em;
    margin-top: 5px;
    margin-right: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.button:hover
{background: hsl(0, 0%, 85%, 1);}
.button:active
{background: hsl(0, 0%, 75%, 1);}
.inputTextField
{
    background: ghostwhite;
    border: none;
    font-size: 1.1em;
    margin-top: 5px;
    margin-right: 2px;
    border-radius: 2px;
}
#middle
{
    font-size: 18px;
    display: flex;
    justify-content: center;
}
#middleToolbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 10px;
    font-size: 0.9em;
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.7), hsla(278, 4%, 58%, 0.9));
    box-shadow: 3px 3px #292929;
    margin-top: 10px;
    padding: 10px;
    width: auto;
    bottom: 5px;

    font-family: "JetBrains Mono", monospace;
}
#itemGrid
{
    display: grid;
    grid-gap: 15px;
    max-width: 900px;
    width: 100%;

    font-family: "JetBrains Mono", monospace;
}
.item-card
{
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #888;
    font-size: 16px;

    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: keep-all;
    white-space: nowrap;
}